# Ignore everything in this directory
*
# Except this file
!.gitignore

# Folders
!data/
!biobert_embedding/

# Files
!requirements.py

# Scripts
!stage1.py
!stage2.py
!combine_files.py